<h1>seasons</h1>

<!-- populating the dropdownlist with data from the f1 seasons-->  
<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="itemz">Select Year</label>
  <tr (click)="onRowClick(myDropDownList.value)">
  <select #myDropDownList class="form=control select" formControlName="items" id="items">
      <option *ngFor="let item of items;let i =index" [value]="items[i].season">
        {{ items[i].season }}
      </option>


  </select>
  </tr>

</form>



<!-- populating our list list with data from the f1 circuits-->
<ul *ngIf="position && points && driverName && constructorName">
    <li *ngFor="let pos of position;let i =index">
            <pre>{{pos}} 
              Points:{{points[i]}} 
              Driver's Name: {{driverName[i]}} 
              Constructor's Name:{{constructorName[i]}}</pre>
    </li>
</ul>